@import url('http://fonts.cdnfonts.com/css/rooneysans');
@import url('http://fonts.cdnfonts.com/css/avenir-lt-std');
                

body,
html {
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
* {
  font-family: 'Avenir LT Std', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'RooneySans', sans-serif !important;        
}

/* main-header start */
[data-target="#mainMenu"] {
  position: relative;
  z-index: 999;
}

.main-header {
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 99;
  width: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05); */
  /* height: 50%; */
  background-color: #ffffff;

  /* padding: 15px 0; */
}
.navbar {
  margin: 0 8%;
}

.main-header.sticky {
  background: #ffffff;
  padding: 1px 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  /* height: 7.5rem; */
  z-index: 999;
  
}

.main-header.sticky #mainMenu li > a {
  color:  #000000;
  /* color:  #AD5E00; */
  /* color:  #D3770B */
}
.main-header.sticky #mainMenu li > a.active {
  color:  #AD5E00;
  /* color:  #D3770B */
}
.main-header .navbar-brand img {
  width: 60px;
  /* height: 70px; */
  left: 80px;
  top: 10px;
}
label {
  visibility: hidden;
}

#mainMenu li {
  margin-right: 35px;
}

#mainMenu li > a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  position: relative;
  z-index: 1;
  color:  #000000;
  padding-top: 1%;
  text-align: center;
  letter-spacing: .5px;
  
  
}

#mainMenu li > a::before {
  position: absolute;
  content: "";
  background: #AD5E00;;
  bottom: -18px;
  transform: scale(0, 0);
  z-index: -1;
  -webkit-transition: transform 0.8s ease-in-back;
  transition-duration: 0.8s ease-in-back;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  left: calc(50% - 8px);
}
#mainMenu li > a:hover {
  color:  #AD5E00;
}

#mainMenu li > a.active{
  color:  #AD5E00;

}

#mainMenu li > a:hover::before,
#mainMenu li > a.active::before {
  content: "";
  position: absolute;
  

  width: 9px;
  height: 9px;
  border-radius: 100%;
  left: calc(50% - 8px);
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

#mainMenu a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: #ffffff;
  width: 130px;
  letter-spacing: .5px;
  font-size: 17px;
  text-align: center;
  background-color:#AD5E00;
  padding: 0.8%;
  border-radius: 5px;
  font-weight: 600;
  margin: 0 10px;
  border: 2px solid #AD5E00;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

#mainMenu a.button:nth-child(2){
  background-color: transparent;
  border: 2px solid #AD5E00;
  color: #AD5E00;;

}
#mainMenu a.button:hover {
  background-color: #ffffff;
  color: #AD5E00;;
  border: 2px solid #AD5E00;
  
  /* font-size: 18px; */
  font-weight: bold;
  /* padding: 0; */
}
#mainMenu a.button:nth-child(2):hover{
  background-color: #AD5E00;;
  color: #ffffff;

}

/* Main Section */
.main-section{
  height: 100vh;
  background: linear-gradient( #ad5f00c0, #ad5f00c0), url("../images/connect1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.main-section .contact-page{
  display: flex;
  justify-content: center;
}

.contact-page .text{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25% auto 0 auto;
}

.contact-page .text h3{
  font-family: 'Nunito' sans-serif;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  width: 588px;
  height: 40px;
  font-weight: 900;
  font-size: 54px;
  line-height: 40px;
  z-index: 9;
}


.contact-us-page{
  /* height: 100vh; */
  padding: 2% 0;
  background: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.contact-us{
  
  margin: 3% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:center;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact-form{
  padding: 3%;
  
  z-index: 4;
 
}

.contact-form p{
  text-align: center;
  font-size: 16px;
}

form {  
  
  /* padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 40px;
  padding-left: 15px; */
  
  
  overflow: hidden;
}

/* label,
input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 0 !important;
  font-size: 14px !important;
} */

form ul input{
  width: 65% !important;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(3.5em + 0.75rem + 2px);
  padding: 1rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  background-color: #AD5E00;
  background-clip: padding-box;
  border: 1px solid #ffffff;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus{
  background-color: #AD5E00;
  color: #ffffff;
  font-size: 1em;
  outline: 0;
  border-color: #ffffff;
  box-shadow: none;
}

form ul li input:s {
  appearance: menulist-button;
  background-image: none !important;
  background-color: #AD5E00 !important;
  color: -internal-light-dark(black, white) !important;
}
 form ul {
  list-style: none;
  margin: 0;
  padding: 0 20px;
  background-color: #AD5E00;  
  width: 600px;
  height: 500px;
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px; */
  border-radius: 10px;
  padding:30px;
}


 form li {
  padding: 0.3em;
  padding: 0.3em;
  margin: 1rem 0;
}
 /* form span {
  font-weight: 700;
  color: #102a43;
  line-height: 35px;
  line-height: 2.5rem;
  font-size: 12px;
  font-size: 0.8rem;
  text-transform: uppercase;
} */
 input[type="submit"] {
  background: #AD5E00;
  color: white;
  font-weight: 700;
  font-size: 20px !important;
  border-radius: 5px;
  margin: 2.8em auto 0 auto;
  /* padding: 5px 0; */
  width: 180px;
  height: 50px;
}
input::placeholder, textarea::placeholder{
  color: #ffffff !important;
  font-weight: lighter;
}

label{
  visibility: visible;
}


 .required-star {
  color: #FFB500;
}

 input,
textarea {
  width: 100%;
  padding: 0 5px;
  border: 1px solid #e1e2eb;
  background-color: #fff;
  /* color: #102a43; */
  caret-color: #ffffff;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 2rem;
  box-shadow: inset 0 2px 4px 0 rgba(206, 209, 224, 0.2);
  border-radius: 3px;
}

.contact-social{
  padding: 0  30px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.contact-social .contact-addr a{
  text-decoration: none;
  color: #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: justify;
  justify-content: space-between;

}

.contact-addr a .iconify{
  font-size: 35px;
  color: #AD5E00;
}

.contact-addr a .col{
  margin: 0 20px;
  font-size: 1.4rem;
}
.contact-addr a .col p:last-child{
  font-size: 1.1rem;
}
.contact-addr hr{
  width: 50%;
  margin: 40px 70px;
  /* color: #AD5E00; */
  background-color: #AD5E00;
  /* height: 100px;*/
}

.social-links{
  margin: 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.social-links p{
  font-size: 1.4rem;
  color: #000000;
  /* margin-bottom: 0 !important; */
}
.social-links ul li{
  
  margin: 0 5px;
  color: #AD5E00;
  font-weight: lighter !important;
  
  justify-content: center;
  align-items: center;
}
.social-links ul li a .iconify{
  font-size: 40px;
  border: 1px solid #AD5E00;
  border-radius: 50px;
  background-color: #AD5E00;
  color: #FFF;
}

.social-links ul li a .iconify:hover{
  border:#ffffff;
  border-radius: 50px;
  background-color: #ffffff;
  color: #AD5E00;
  /* font-size: 40px; */
}


/* ------------   Footer -------------- */
footer{
  background-color: #AD5E00;
  
}

footer a:hover{
  text-decoration: none;
  color: #ffffff;
}
.footer .row{
  justify-content: space-around;
}

footer li{
  white-space: nowrap;
}
footer li p .iconify{
  font-size: 25px;
  margin: 0 10px 0 0 ;
}
footer li .text-white {
  /* color: #fff!important; */
  font-size: 14px;
  font-weight: 100;
}

footer ul {
  text-align: justify;
  font-weight: 100;
}

footer a, footer p {
  color: #ffffffc4;
}

footer h5{
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
}

footer .footer-socials{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
  width: 400px;
  margin: 55px 0 0 0;
}
.footer-img{
  background-color: #ffffff;
  height: 110px;
  width: 110px;
  display: flex;
  border-radius: 100px;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  /* background-image: url('../images/logopng.png'); */
  /* background-position: center center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}
footer .footer-socials img{
  width: 70%;
}
footer .footer-socials p{
  font-size: 22px;
  margin-left: 31px;
  font-weight: bold;
}

.footer-socials .iconify{
  /* margin: 0 5px; */
  border: 1px solid #ffffff;
  border-radius: 50px;
  background-color: #ffffff;
  color: #AD5E00;
  font-size: 40px !important;
}

.footer-socials .iconify:hover{
  /* margin: 0 5px; */
  border: 1px solid #AD5E00;
  border-radius: 50px;
  background-color: #AD5E00;
  color: #ffffff;
  font-size: 40px !important;
}




/* --------------------Media Queries------------- */
@media (max-width: 1025px) {
  .main-header .navbar-brand img {
  }
  /* .main-section {
    height: 50vh;
  } */
}

@media (max-width: 991px){
  .menuToggle{
    z-index: 999;
    position: relative;
    width: 72px;
    height: 40px;    
  }
  .navbar-brand {
    /* width: 10%; */
    /* height: 100px; */
    z-index: 999;
    background-color: #fff;
    padding: 10px;
    border-radius: 150px;
    margin-top: 5px;
  }
  nav .navbar-collapse{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #121116fa;
  }
  .main-header .navbar-brand img {
    max-width: 55px;
    /* max-height: 100px; */
  }

  .main-header.sticky #mainMenu li > a {
    color: #fff;
  }

  .main-header.sticky #mainMenu li > a.active{
    color: #AD5E00;
  }
  #mainMenu li{
    margin: 5% 0;
    margin-right: 0;
  }  
  .menuToggle label{
    visibility: visible;
    display:flex;
    flex-direction:column;
    width:50px;
    cursor:pointer;
    /* margin-top: 5px; */
  }
  .menuToggle label span{
    background: #AD5E00;
    border-radius: 10px;
    height: 5px;
    margin: 4px 0;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
  .menuToggle span:nth-of-type(1){
    width:50%;
    margin-left: 35% 
  }
  .menuToggle span:nth-of-type(2){
    width:75%;
    margin-left: 5px;
  }
  .menuToggle span:nth-of-type(3){
    width:100%;
    margin-left: -6px;
  }
  .menuToggle input[type="checkbox"]{
    display:none;
  }
  .menuToggle input[type="checkbox"]:checked ~ span:nth-of-type(1) {
      width: 75%;
      transform-origin: bottom;
      transform: rotatez(45deg) translate(1px,15px);
  }
  .menuToggle input[type="checkbox"]:checked ~ span:nth-of-type(2){
    transform-origin:top;
    transform:rotatez(-45deg)
  }
  .menuToggle input[type="checkbox"]:checked ~ span:nth-of-type(3){
    visibility: hidden;
    transform-origin:bottom;
    width:50%;
    transform: translate(30px,-11px) rotatez(45deg);
  }
 .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto 0 auto;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    height: 50%;
  }
  #mainMenu li > a.active{
    color: #AD5E00;
  }
  #mainMenu li > a::before {
    visibility: hidden;
  }
  #mainMenu li > a:hover::before,
  #mainMenu li > a.active::before {
    visibility: hidden;
  } 
  #mainMenu li > a {
    text-decoration: none;  
    font-size: 20px;
    color: #fff;
    font-weight: 500;
  }
  #mainMenu a.button {    
    width: 130px;
    margin: 5px 0;
    font-size: 17px;
  }

  .main-section {
    justify-content: center;
    display: flex;
  }

  

 

  /* footer */
  .footer .row {
    flex-wrap: nowrap;
    margin: 0 55px
  }
  .footer .row.footer-socials{
    margin: 40px -35px;

  }
  .footer-img {
    height: 95px;
    width: 95px;
  }
  footer .footer-socials p {
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: 0.1rem;
  }

  .footer-socials .list-unstyled{
    justify-content: flex-start !important;
  }
}

@media only screen and (max-width: 890px){
}

@media (max-width: 860px) {
}

@media only screen and (max-width: 768px){ 
  .contact-page .text h3 {
    font-size: 40px;
  }
  
  form ul {
    width: 402px;
    padding: 20px;
  }

  .contact-addr a p {
    margin-top: 0;
    margin-bottom: 0rem;
  }
  .contact-addr a .col {
    margin: 0 5px;
    font-size: 1.2rem;
  }

  .contact-addr hr {
    width: 60%;
    margin: 30px 50px;
  }

  .social-links {
    margin: 0 10%;
  }

  .social-links p {
    font-size: 1.4rem;
  }
  .social-links ul li {
    margin: 0;
  }
  input[type="submit"] {
    margin: 1.7em auto 0 auto;
    width: 163px;
  }
  footer .col-md-6 {
    flex: 0 0 30% !important;
  }

  footer a, footer p {
    font-size: 14px !important;
  }

  .footer .row.footer-socials {
    margin: 45px -10px;
  }

  footer li p .iconify {
    font-size: 20px;
  }

  .footer-img {
    height: 75px;
    width: 75px;
  }
  .footer-socials .iconify {
    font-size: 30px !important;
  }
}


@media only screen and (max-width: 691px){
}


@media only screen and (max-width: 600px){
}


@media only screen and (max-width: 580px){
  .main-header .navbar-brand img {
    max-width: 45px;
  }
  .menuToggle input[type="checkbox"]:checked ~ span:nth-of-type(1) {
    width: 70%;
    transform-origin: bottom;
    transform: rotatez(45deg) translate(0px,13px);
  }

  .menuToggle span:nth-of-type(1) {
    width: 50%;
    margin-left: 20px;
  }
  .menuToggle span:nth-of-type(2) {
    width: 70%;
    margin-left: 10px;
  }
  .menuToggle span:nth-of-type(3) {
    width: 90%;
    margin-left: 0px;
  }
  
  .menuToggle label span {
    margin: 2px 0;
  }

  .footer .row {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .col-md-6 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 3rem !important;
  }
  footer ul {
    text-align: justify;
    font-weight: 100;
    text-align: center;
    margin: 2% auto 6rem auto;
  }
  footer li {
    margin: 10px 0;
    font-size: 18px;
  }
  footer .mb-4, .my-4 , .mb-2, .my-2 {
    margin-bottom: 0 !important;
    padding: 0 !important;
  }

  footer a, footer p {
    font-size: 16px !important;
    margin-bottom: 1.5rem;
  }
  footer h5 {
    font-size: 1.3rem;
  }

  .footer .row.footer-socials {
    margin: 0 auto;
  }

  footer .footer-socials {
    width: auto;
  }
  .footer-img {
    height: 100px;
    width: 100px;
  }
  footer .footer-socials p {
    font-size: 20px !important;
    /* margin-left: 15px; */
    margin: 2rem auto;
  }
  .footer-socials ul{
    margin-bottom: 0 !important;
  }
  .footer-socials .iconify {
    font-size: 40px !important;
  }
  

}
@media only screen and (max-width: 450px) {
  .menuToggle label {
    margin: 10px 25px;
  }
  .contact-us {
    margin: 40px auto;
    flex-direction: column;
    justify-content: center;
  }

  form ul {
    width: 320px;
    height: 450px;
  }
  .form-control {
    width: 100% !important;
    height: 50px;
  }
  input[type="submit"] {
    height: 45px;
  }
  .contact-social {
    padding: 0;
    margin: 40px auto 0 auto;
    align-items: center;
  }
  .contact-social .contact-addr a {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .contact-addr hr {
    margin: 30px auto;
  }
  .contact-addr a .col {
    margin: 15px auto;
    font-size: 1.4rem;
  }
  .contact-addr a .col p:last-child {
    font-size: 1.1rem;
  }
  .social-links {
    align-items: center;
    margin: 0 auto;
  }
  .social-links p {
    text-align: center;
  }
  
}

@media only screen and (max-width: 376px) {
  .menuToggle label {
    margin: 0px auto;
  }
  .menuToggle {
    height: 15px;
    left: 15px;
  }
  .main-header {
    top: -6px;
  }
  .navbar-brand {
    height: 69px;
  }
  textarea.form-control {
    height: 180px;
  }
  form ul {
    width: 300px;
    height: 400px;
  }
  input[type="submit"] {
    width: 135px;
    font-size: 18px !important;
  }
  .contact-addr a .iconify, .social-links ul li a .iconify {
    font-size: 30px;
  }
  .footer-socials .iconify {
    font-size: 35px !important;
  }
  .contact-addr a .col, .social-links p {
    font-size: 1.2rem;
  }
  .contact-addr a .col p:last-child {
    font-size: 1rem;
  }

  .contact-social{
    margin: 61px auto 0 auto;
  }
  
  
  
}
@media only screen and (max-width: 350px) {
  

  .footer .p-4 {
    padding: 0 !important;
  }
  
}

@media screen and (max-width: 325px) {
  /* .main-section {
    height: 100vh;
    background: linear-gradient(180deg, #000000b9, #000000b9, #000000b9), url(../images/threeW.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  } */
  .contact-page .text h3 {
    font-size: 30px;
  }
  form ul {
    width: 250px;
    height: 350px;
  }
  textarea.form-control {
    height: 130px;
  }
  input[type="submit"] {
    width: 120px;    
    height: 40px;
  }
}
